<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Kundenstimmen</h1>



<div id="kundenstimmen">
	<f:for each="{kundenstimmens}" as="kundenstimmen">
  <div class="company"><h2>{kundenstimmen.company}</h2></div>
  <div class="teaser">{kundenstimmen.teaser}</div>
  <div class="opinion">{kundenstimmen.customeropinion}</div>
  <div class="customer">{kundenstimmen.customer}</div>
  <div class="trenner"></div>
	</f:for>
</div>
</f:section>